<?xml version="1.0"?>

<model>
    <name>basic_rover</name>
    <version>1.0</version>

```
<sdf version="1.10">
    basic_rover.sdf
</sdf>

<author>
    <name>Aashraey</name>
</author>

<description>
    A four wheeled basic rover chassis with physical joints,
    collision geometry and wheel dynamics.
</description>
```

</model>
